version: "3.9"

services:
  mongodb:
    image: mongo:7.0   
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - /home/$USER/mongo-data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    networks:
      - backend
    restart: always
  pgvector:
    image: pgvector/pgvector:0.8.1-pg18
    container_name: pgvector
    ports:
      - "5432:5432"
    volumes:
      - /home/$USER/pgvector:/var/lib/postgresql
    environment: 
      - POSTGRES_PASSWORD=${PG_VECTOR_PASSWORD}
    networks:
      - backend
    restart: always

networks:
  backend:
    driver: bridge


